/*
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License.  You may obtain a
 * copy of the License at the following location:
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the    
 * specific language governing permissions and limitations
 * under the License.
 */

/* reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

body { line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

nav ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent}


/* change colours to suit your needs */
ins { background-color: #ff9; color: #000; text-decoration: none; }

/* change colours to suit your needs */
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] {  cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

/* change border colour to suit your needs */
hr { display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

/* general page */
body { font-family: Tahoma, Verdana, sans-serif; font-size: 11px; line-height: 1.4em; }

a {text-decoration: none; color: #4e6b8c;}
a:hover {text-decoration: underline;}

#cas { background: #fff; }
#cas .flc-screenNavigator-view-container { width: 95%; margin: 0 auto; }
#cas .flc-screenNavigator-view-container #content { -webkit-border-bottom-right-radius: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -moz-border-radius-bottomleft: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; }

@media only screen and (max-width: 960px) { #cas .flc-screenNavigator-view-container { width: 100%; }
                                            #cas .flc-screenNavigator-view-container #content { -webkit-border-bottom-right-radius: 0px; -webkit-border-bottom-left-radius: 0px; -moz-border-radius-bottomright: 0px; -moz-border-radius-bottomleft: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; } }
/* header */
#cas #header { min-height: 214px;}

#cas #body {
    background-color: #eaeaea;
    background-image: url(../images/banner_pl.jpg);
    background-repeat: no-repeat;
    width: 611px !important;
    padding-bottom: 0px;
}

#cas.en #body {
    background-image: url(../images/banner_en.jpg);
}
/* content */
#cas #content { overflow: hidden;
                padding: 0 14px 0 9px;
                border-left: 1px solid #bbb;
                margin-left:  228px !important;
                margin-bottom:  10px;}
#cas #content #msg { padding: 20px; margin-bottom: 10px; }
#cas #content #msg h2 { font-size: 1.4em; margin-bottom: 0.5em; }
#cas #content #msg.errors { border: 1px dotted #BB0000; color: #BB0000; padding-left: 100px; background: url(../images/error.gif) no-repeat 20px center; }
#cas #content #msg.success { border: 1px dotted #390; color: #390; padding-left: 100px; background: url(../images/confirm.gif) no-repeat 20px center; }
#cas #content #msg.info { border: 1px dotted #008; color: #008; padding-left: 100px; background: url(../images/info.gif) no-repeat 20px center; }

#cas #content #login #fm1 h2  { font-size: 11px; padding: 10px; margin-bottom: 10px; color: #888; font-family: tahoma, arial, sans-serif; font-weight: bold;}
#cas #content #login #fm1 .row { margin-bottom: 10px; width: 264px; float: left; clear: both;}
#cas #content #login #fm1 .row .fl-label { display: block; color: #777777; float: left;min-width: 80px; text-align: right; padding-right: 5px; min-height: 25px; line-height: 25px;}
#cas #content #login #fm1 .row input[type=text], #cas #content #login #fm1 .row input[type=password] {width: 172px; border: 1px inset #FFFFFF;border-bottom-color: #989898; border-right-color: #989898; padding: 3px 0 3px 5px; font-size: 12px; }
#cas #content #login #fm1 .row.check { color: #777; font-size: 11px; padding-left: 80px; width: 184px; float: left;}
#cas #content #login #fm1 .row.btn-row  { width: 72px; float: right; margin-top: -35px; }
#cas #content #login #fm1 .row .btn-submit { border-width: 2px; padding: 3px; margin-right: 4px; }
#cas #content #login #fm1 .row .btn-submit:hover { cursor: pointer; }
#cas #content #login #fm1 .row .btn-submit { background: #4e6b8c; color: #fff; padding: 2px 4px; border: 1px solid #4e6b8c; }
#cas #content #login #fm1 .row .btn-submit:hover { background: #f6f6f6; color: #4e6b8c }


/* footer */
#cas #footer {
    overflow: hidden;
    text-align: right;
    padding-bottom: 15px;
}
#cas #euwFooter {
        background-color: white;
                background-image: url(../images/footter_euw.png);
                background-repeat: no-repeat;
                background-position: top;
                padding-top: 94px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.8em;
    text-align: center;
}
#cas.en #euwFooter {
    background-image: url(../images/footer_euw_en.jpg);
}

/* < 960 */
@media only screen and (max-width: 960px) { #cas #footer { padding-left: 10px; } }
/* < 799 */
@media only screen and (max-width: 799px) { #cas #header #app-name { font-size: 1em; }
                                            #cas #content #login { float: none; width: 100%; }
}


#cas .flc-screenNavigator-view-container {
    width: 611px;
}

.login-logout {
    float: right;
    padding: 15px 5px 0px 0px;
}
/* fix layout for small devices */
@media only screen and  (max-width: 611px) {
    #cas #body {
        width:auto !important;
        background-position:right top;
    }
    #cas #content {
        margin-left: 50px !important;
        border: none !important;
    }
    #cas #content #login #fm1 .row.check { padding-left: 0px; }
    #cas #content #login #fm1 .row.btn-row { margin-top: 0px; }
}
/* < 350 */
@media only screen and (max-width: 350px) {
    #cas #content {margin-left: 0px !important;
        padding: 5px; }

}